* {
    /*border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: #02b3e4;
    text-decoration: inherit; /* no underline */
}

a:hover {
    color: white;
    cursor: pointer;
}

body {
    background: #7d97ad;
    color: #ffffff;
}
.center {
    margin: 0 0 20px 49%;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    box-shadow: #2d3c49 0px 0px 50px;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.mainContent {
    background: url("../img/mainContentPic.jpg");
    background-position-y: -90px;
    border-top: 5px solid #94afc0;
    border-left: 1px solid #94afc0;
    border-bottom: 5px solid #94afc0;

    background-size: cover;
}
.name {
    font-family: 'Bree Serif', serif;
    margin-top: 10px;
    margin-right: 20px;
}
h2 {
    font-size: 50px;
    margin: 80px 0;

}

h3 {
    font-size: 40px;
    margin: 40px 0;
}
.projects {
    max-width: 380px;
    margin-left: 10px;
    opacity: .5;
}
.projects:hover {
    opacity: 1;
    cursor: pointer;
}
.projectTitle {
    margin-bottom: 20px;
}
.centerText {
    text-align: center;
}
.rightAlignText {
    text-align: right;
}
.codeLanguageTop {
    margin-right: 20px;
    opacity: .7;
}
.codeLanguageMiddle {
    margin-left: 40px;
    opacity: .7;
}
.codeLanguageBottom {
    margin-left: 20px;
    opacity: .7;
}
.head {
    background-color: #2d3c49;
    margin: 0;
}
.sectionHeading {
 margin-bottom: 0;
    opacity: .7;
}
.bottomProjectRow {
    margin: 0;
}
.foot {
    background-color: #2d3c49;
    font-family: 'Bree Serif', serif;
    padding: 50px 0;
    margin: 0;
}
.logo {
    width: 100px;
}
.fa-caret-down{
    opacity: .7;
}
@media only screen and (max-width: 500px){
    p {
        display: none;
    }
}